* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97vw;
  margin: 15px auto;
  padding: 4px 17px 4px 10px;
  background-color: black;
}

h5 {
  color: white;
  font-size: 12px;
  height: 50px;
  padding: 0 10px;
  display: flex;
  transition: 0.5s;
  align-items: center;
  text-transform: uppercase;
}

h5:hover {
  cursor: pointer;
  background-color: rgb(27, 28, 29);
}

.image-block {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  width: 100%;
  max-width: 800px;
  font-size: 27px;
  height: 400px;
  padding: 50px 30px;
  margin-left: 20px;
  margin-top: 20px;
  line-height: 37px;
  font-weight: 600;
  color: white;
  background: linear-gradient(to bottom, blue, rgb(67, 14, 14));
}

img {
  object-fit: cover;
  transition: .7s;
}

img:hover {
  transform: scale(1,1);
}

.block {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-left: 20px;
}

.cards > div {
  width: 18%;
  height: 150px;
  margin: 20px 0;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  color: white;
  background: linear-gradient(to bottom, blue, rgb(67, 14, 14));
}

.badge {
  padding: 5px;
  font-size: 11px;
  color: #00002E;
  background-color: #008CCC;
}

.info-block {
  margin-left: 20px;
  margin-top: 30px;
}

h1 {
  font-size: 35px;
  font-weight: 500;
  margin-top: 30px;
}

p {
  width: 650px;
  margin-left: 50px;
  margin-top: 70px;
  line-height: 33px;
  font-size: 17px;
}

h3 {
  font-size: 15px;
  margin: 17px 0;
}

.inform {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  margin: 150px auto 50px auto;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 280px;
  background: linear-gradient(to bottom, blue, rgb(67, 14, 14));
}

.comment {
  padding: 0 30px;
  width: 550px;
}

.text {
  font-size: 14.7px;
}

.big {
  font-size: 15px;
  color: white;
}

.btn {
  outline: none;
  border: 1px solid white;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: inherit;
  margin-top: 15px;
  color: white;
  font-size: 14px;
  transition: .3s;
  text-transform: uppercase;
}

.btn:hover {
  color: black;
  cursor: pointer;
  background-color: white;
}